/* img{
    height: 50px;
    width: 50px;
}

#navbar{
    display: flex;
    height: 70vh;
    color: red;
    background-color: yellow;
    justify-content: flex-end;
    align-items: flex-start;
    
}


#navLogoImg{
    position: absolute;
    left: 10px;
    height: 100px;
    width: 150px;
}

 */


 