body{
    /* background-color: rgb(65, 65, 114); */
    width: 90%;
    margin: auto;
}

header{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

#navbar{
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

header button{
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 3px;
    width: 5rem;
    height: 40px;
    letter-spacing: 1;
}

.logoKreditBee{
    /* display: flex; */
    /* align-items: flex-start; */
    position: relative;
    height: 1rem;
    width: 10rem;
}

.headerNavImg img{
    height: 3rem;
    width: 3rem;
}

/* <!-- Main Part --> */

.arrowImg{
    position: relative;
    width: 10px;
    height: 5px;
    margin-top: 28px;
    left: 5px;
}

.whyKreditBeeText{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    letter-spacing: .5px;
}
.whyKreditBeeText > p{
    margin: auto;
    width: 11%;
    height: .10%;
    border: .20rem solid #FDC039;
    border-radius: 5px;
    margin-top: -15px;
    
}



/* mainBoxContainer */
.mainBoxContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat();
    justify-content: space-around;
    margin: 4rem 2rem;
    gap: 15px;
}

.box{  
    padding-left: 10px;
    border: 2px solid #E8E8E8;

}

.mainBoxContainer p,h3{
    padding-left: .5rem;
    font-size: 18px;
}
.mainBoxContainer img{
    margin-top: 15px;
}

/* blog part */

.blogBoxContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    justify-content: space-around;
    margin: 4rem 2rem;
    gap: 15px;
}
.blogBoxContainer img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.blogBox{
    border: 2px solid #EAEAEA;
    border-radius: 10px;
}

.blogBoxContainer p,h3{
    padding-left: 1rem;
}

/* signin part */

#signPart{
    background-color: #FFDE59;
    /* background-color: #FFDE59; */
    height: 30rem;
    margin: 0;
    /* border: 5px solid red; */
    padding: 4rem 20px 20px 0px;
}

.signForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    margin: -10px 30% 0 30%;
    padding-top: 10px;
    background-color:white;
    
}




form{
    height: 250px;
    width: 80%;
}


form label{
    text-align: left;
}

button{
    width: 80%;
    background-color: #3470E4;
    color: white;
    border-radius: 5px;
}



/* footer */
footer{
    text-align: center;
    background-color: #282120;
    margin: 0;
    padding: 15px;
    color: white;
}